.home-container {
    background-color: #bcdad3;
}

.header-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
    gap: 0.5rem; /* Adds spacing between the header and the icon */
    /*margin-bottom: 1.5rem; */
    background-color: #bcdad3;
}

.header-container h1 {
    display: block;
    font-size: 4rem; /* Sets the font size for the main header */
    color: #2d4849; /* Sets a default color for the header text */
    background-color: #f6f1df;
    border: 5px solid  #2d4849; /* Adds a brown border */
    border-radius: 20px; /* Rounds the corners */
    padding: 10px 40px; /* Adds more padding on the sides */
    text-align: center; /* Centers the text inside the header */
    margin: 20px auto; /* Adds vertical margin and centers the header horizontally */
    position: relative; /* Changes position to relative */
    top: 20px; /* Shifts the header down by 20px */
}


.header-container h2,
.header-container a {
    margin: 0; /* Removes default margin for headers and links */
    padding-left: 40px;
    text-decoration: none; /* Ensures links don't have underlines */
    font-size: 2rem; /* Sets a default size for secondary headers */
    color: #2d4849;
}

.header-container svg {
    font-size: 1.5rem; /* Adjusts the size of the icon */
    color: #2d4849; /* Sets the color of the icon */
    margin-left: 10px;
}

.header-container a:hover {
    color: #f6f1df ;
}

.header-container a:hover svg {
    color: #f6f1df ; /* Changes the icon color on hover */
}





.smiski-preview {
    display: flex; /* Uses flexbox to align images in a row */
    flex-wrap: wrap; /* Allows images to wrap to the next line if needed */
    gap: 135px; /* Adds space between the images */
    padding: 20px; /* Adds padding around the image container */
    background-color: #bcdad3; /* Ensures the background matches the page */
    padding-left: 4rem;
    color: #2d4849;
}

.smiski-preview img {
    width: 150px; /* Sets the width of the images */
    height: auto; /* Maintains the aspect ratio */
    border-radius: 8px; /* Optional: Adds rounded corners */
  
}

.smiski-preview div {
    /* This class is used to wrap each image for better styling */
    display: flex; /* Ensures the image is centered in its container */
    flex-direction: column;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    margin-bottom: 20px; /* Adds space below each image container */
}

.flashcard-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

.group-button {
  padding: 10px 20px;
  background-color: #fbeac5;
  color: #2d4849;
  border: 2px solid #2d4849;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.group-button:hover {
  background-color: #2d4849;
  color: white;
}

