.flashcard-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: #2d4849;
}

.flashcard-groups button {
    display: block;
    border: 4px solid #2d4849;
    border-radius: 20px;
    background-color: #fbeac5;
    font-size: 1.4rem;
    padding: 10px;
    color: #2d4849;
    width: 100%; /* Make the button fill the grid cell */
    height: 100px;
    text-align: center; /* Center the text inside the button */
}

.flashcard-groups button:hover {
    cursor: pointer;
    background-color: #2d4849;
    color: white;
}

/* Center the navigation buttons and make them full width */
.navigation-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

/* Style for individual buttons */
.navigation-buttons button {
    flex: 1; /* Make buttons take equal space */
    max-width: 23vw; /* Optional: Limit the button width */
    display: block;
    border: 4px solid #2d4849;
    border-radius: 20px;
    background-color: #fbeac5;
    font-size: 1.4rem;
    padding: 10px 20px;
    color: #2d4849;
    flex: column;
    width: 22%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
}

.navigation-buttons button:hover {
    background-color: #2d4849;
    color: white;
}

/* Style for the "Back to Groups" button container */
.back-to-groups {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-bottom: 20px; /* Add space below the button */
    margin-top: 20px; /* Add space above the button */
}
.back{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    gap: 10px; /* Add spacing between buttons */
    margin-top: 10px; /* Add some space above the buttons */
    margin-bottom: 10px;
}
/* Style for the "Back to Groups" button */

.back button:hover {
    background-color: #2d4849;
    color: white;
    cursor:pointer;
}
