.smiskiBox {
  height: 200px;
  width: auto;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add space between each item */
  margin-top: 50px;
}

.spinnerContainer button {
  display: block;
  border: 4px solid #2d4849; /* Border color */
  border-radius: 20px;
  background-color: #fbeac5;
  font-size: 2rem;
  padding: 10px 20px;
  color: #2d4849;
}

.spinnerContainer button:hover {
  cursor: pointer;
  background-color: #2d4849;
    color: white;
}

.smiski-popup {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-align: center;
}

.smiski-image {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}